## Assignment 1 - BA775 (Fall 2020)
Please note that this assignment captures topics from classes 2 & 3. You should run your queries in BigQuery or an AI Platform notebook and submit the answers along with your code in the Questrom Tools course site under "tests & quizzes" section.

### Question 1
Using the following table (`bigquery-public-data.baseball.schedules`) which baseball game had the biggest attendance in 2016?

In [1]:
%%bigquery
SELECT * FROM `bigquery-public-data.baseball.schedules` LIMIT 5

Query complete after 0.03s: 100%|██████████| 1/1 [00:00<00:00, 132.81query/s]
Downloading: 100%|██████████| 5/5 [00:01<00:00,  2.59rows/s]

,gameId,gameNumber,seasonId,year,type,dayNight,duration,duration_minutes,homeTeamId,homeTeamName,awayTeamId,awayTeamName,startTime,attendance,status,created
0,e14b6493-9e7f-404f-840a-8a680cc364bf,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,3:07,187,03556285-bdbb-4576-a06d-42f71f46ddc5,Marlins,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-26 17:10:00+00:00,27318,closed,2016-10-06 06:25:15+00:00
1,1f32b347-cbcb-4c31-a145-0e685306d168,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,3:09,189,03556285-bdbb-4576-a06d-42f71f46ddc5,Marlins,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-25 20:10:00+00:00,29457,closed,2016-10-06 06:25:15+00:00
2,0c2292d1-7398-48be-bf8e-b41dad5e1a43,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,2:45,165,12079497-e414-450a-8bf2-29f91de646bf,Braves,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-11 20:10:00+00:00,43114,closed,2016-10-06 06:25:15+00:00
3,8fbec734-a15a-42ab-8d51-60790de7750b,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,3:42,222,12079497-e414-450a-8bf2-29f91de646bf,Braves,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-12 17:35:00+00:00,31625,closed,2016-10-06 06:25:15+00:00
4,89e514d5-fbf5-4b9d-bdac-6ca45bfd18dd,1,565de4be-dc80-4849-a7e1-54bc79156cc8,2016,REG,D,2:44,164,2142e1ba-3b40-445c-b8bb-f1f8b1054220,Phillies,55714da8-fcaf-4574-8443-59bfb511a524,Cubs,2016-06-08 17:05:00+00:00,28650,closed,2016-10-06 06:25:15+00:00

In [7]:
%%bigquery
SELECT homeTeamName, awayTeamName FROM `bigquery-public-data.baseball.schedules` WHERE attendance = (SELECT MAX(attendance) as max_attendance FROM `bigquery-public-data.baseball.schedules`) AND year=2016

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 612.69query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.41s/rows]

  homeTeamName awayTeamName
0      Dodgers       Giants

### Question 2
In 2016, on average which team played the longest games at home?

Hint: You will need to take the average of `duration_minutes` for each `homeTeamName`. This can be achieved by a `GROUP BY` and then an `ORDER BY`.

In [10]:
%%bigquery
SELECT homeTeamName, AVG(duration_minutes) AS avg_minutes FROM `bigquery-public-data.baseball.schedules` WHERE year=2016 GROUP BY homeTeamName ORDER BY AVG(duration_minutes) DESC

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 973.53query/s]
Downloading: 100%|██████████| 31/31 [00:01<00:00, 19.92rows/s]

       homeTeamName  avg_minutes
0      Diamondbacks   197.111111
1           Red Sox   196.012346
2           Rockies   193.629630
3            Braves   192.185185
4              Mets   188.543210
5            Padres   188.444444
6           Pirates   188.160494
7           Brewers   187.913580
8         Nationals   187.864198
9            Giants   187.530864
10          Dodgers   186.049383
11           Astros   185.296296
12  American League   185.000000
13            Twins   184.592593
14             Reds   184.543210
15          Indians   183.728395
16             Cubs   183.691358
17          Rangers   183.209877
18           Royals   182.691358
19           Angels   182.604938
20         Phillies   182.543210
21          Yankees   182.382716
22         Mariners   181.913580
23             Rays   180.691358
24          Marlins   179.333333
25        White Sox   179.333333
26           Tigers   179.283951
27        Cardinals   179.222222
28          Orioles   178.654321
29        Blue Jays   178.641975
30        Athletics   173.962963

---
---
### Question 3

The remaining questions refer to table `bigquery-public-data.austin_bikeshare.bikeshare_trips`.

How many distinct and valid station IDs are in this table? Valid station IDs are integer numbers.

Note1: notice that we are looking for valid station IDs, meaning that any station ID that is missing (is null) should be excluded.

Note2: the question doesn't specify `start_station_id` or `end_station_id` and is referring to all the station IDs. You would need to use a UNION to merge them all. 

Note3: `start_station_id` is listed as INT but `end_station_id` is STR. In order to do a UNION you must have all of the columns in the same format and same data type. Convert `start_station_id` to STR: I.e, `CAST(start_station_id AS STRING)`

Hint: some records have `end_station_id` as `"Event"`. Since these do not qualify as a valid station ID we will have to exclude them.

In [4]:
%%bigquery
SELECT * FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` LIMIT 5

,trip_id,subscriber_type,bikeid,start_time,start_station_id,start_station_name,end_station_id,end_station_name,duration_minutes
0,9900289692,Walk Up,248,2015-10-02 21:12:01+00:00,1006,Zilker Park West,1008,Nueces @ 3rd,39
1,9900285987,24-Hour Kiosk (Austin B-cycle),446,2014-10-26 15:12:00+00:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,31
2,9900285989,24-Hour Kiosk (Austin B-cycle),203,2014-10-26 15:12:00+00:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,31
3,9900285991,24-Hour Kiosk (Austin B-cycle),101,2014-10-26 15:12:00+00:00,2712,Toomey Rd @ South Lamar,2712,Toomey Rd @ South Lamar,30
4,9900286140,24-Hour Kiosk (Austin B-cycle),242,2014-10-26 18:12:00+00:00,2541,State Capitol @ 14th & Colorado,2541,State Capitol @ 14th & Colorado,19

In [41]:
%%bigquery
SELECT COUNT(DISTINCT station_id) AS Total_Stations FROM (
SELECT DISTINCT CAST(start_station_id AS STRING) AS station_id FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` WHERE start_station_id IS NOT NULL
UNION ALL
SELECT DISTINCT end_station_id AS station_id FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` WHERE end_station_id IS NOT NULL AND end_station_id NOT like 'Event')

Query complete after 0.00s: 100%|██████████| 5/5 [00:00<00:00, 1472.93query/s]
Downloading: 100%|██████████| 1/1 [00:02<00:00,  2.09s/rows]

   Total_Stations
0              98

### Question 4
Which station has the highest number of trips that start from and end at that station?

In [51]:
%%bigquery
SELECT end_station_id, COUNT(*) AS trips FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` WHERE CAST(start_station_id AS STRING) = end_station_id GROUP BY end_station_id Order BY trips desc LIMIT 1

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 443.89query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.52s/rows]

  end_station_id  trips
0           2575  14560

### Question 5
Which station is the most popular destination?

In [61]:
%%bigquery
SELECT end_station_id, COUNT(*) AS destination_count FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` GROUP BY end_station_id Order BY destination_count desc LIMIT 1

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 993.91query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.39s/rows]

  end_station_id  destination_count
0           3798              83092

### Question 6
How many different types of subscribers appear in this dataset?

In [65]:
%%bigquery
select COUNT(DISTINCT subscriber_type) FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` where subscriber_type IS NOT NULL

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 755.10query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.43s/rows]

   f0_
0   78

### Question 7
Which one is by far the most popular subscriber plan?

In [66]:
%%bigquery
SELECT subscriber_type, COUNT(*) AS subscriber_type_count FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` GROUP BY subscriber_type Order BY subscriber_type_count desc LIMIT 1

Query complete after 0.01s: 100%|██████████| 3/3 [00:00<00:00, 655.63query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.48s/rows]

  subscriber_type  subscriber_type_count
0         Walk Up                 374151

### Question 8
How many bike rides are in this dataset?

In [67]:
%%bigquery
SELECT COUNT(*) FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 550.47query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.53s/rows]

       f0_
0  1342066

### Question 9
Which month was the busiest month in 2019?

Hint: Use the EXTRACT function to extract the date components. For more documentation go to the documentation: https://cloud.google.com/bigquery/docs/reference/standard-sql/date_functions

In [69]:
%%bigquery
SELECT EXTRACT(MONTH FROM start_time) AS month, Count(*) as ride_count FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` where EXTRACT(ISOYEAR FROM start_time) = 2019 group by month order by ride_count desc limit 1

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 780.29query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.32s/rows]

   month  ride_count
0      3       15939